<ion-header>
  <ion-toolbar *ngIf="dest">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/destination/tabs/explore"></ion-back-button>
    </ion-buttons>
    <ion-title>{{dest.name}}</ion-title>
    
    <ion-buttons slot="end">
      <ion-fab-button size="small">
        <ion-icon name="create-outline" (click)="openEditModal()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small">
        <ion-icon name="trash-outline" (click)="deleteDestination()"></ion-icon>
      </ion-fab-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="dest">
  <ion-card class="ion-padding" color="primary">
    <img [src]="dest.imageUrl">
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      {{dest.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
