<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Destinations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="none">
    <ion-item *ngFor="let dest of destination" [routerLink]="dest.id" class="destination-item" button>
      <ion-thumbnail slot="start">
        <img [src]="dest.imageUrl" alt="{{dest.name}}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ dest.name }}</h2>
        <p>{{ dest.country }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
